.benefits {
  overflow: hidden;
  padding: 120px 0;

  @include mediaTablet {
    padding: 60px 0;
  }
}

.benefits__row {
  display: flex;
  column-gap: 70px;

  @include mediaTablet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px 30px;
  }
}

.benefits__item {
  width: 100%;
  text-align: center;
}

.benefits__item-img {
  width: 80px;
  height: 80px;
  margin-bottom: 53px;

  @include mediaTablet {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }
}

.benefits__item-text {
  font-size: 20px;
  line-height: 1.35;
  font-family: $font-secondary;
  font-weight: 300;

  @include mediaTablet {
    font-size: 16px;
  }
}
