.info {
    position: relative;
    font-size: 18px;

    &--location, &--tel {
        padding-left: 35px;

        &::before {
            content: "";

            position: absolute;
            left: 0px;
            top: 0px;
            width: 21px;
            height: 21px;

            background-repeat: no-repeat;
        }
    }

    &--location::before {
        background-image: url('./../img/header/location.svg');
    }

    &--tel::before {
        background-image: url('./../img/header/phone.svg');
    }
}