.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    // display: flex;
    cursor: pointer;
    padding: 30px;
    overflow-y: auto;
    display: none;
}

.modal__main {
    position: relative;
    max-width: 600px;
    background-color: azure;
    margin: auto;
    color: #000;
    border-radius: 16px;
    padding: 30px;
    cursor: default;
}

.modal__title {
    margin-bottom: 30px;
}

.modal__close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 20px;
    outline: 1px solid transparent;
    outline-offset: 3px;
    transition: outline-color .15s ease-in-out;
    border-radius: 3px;
    padding: 0;
    text-align: center;
    display: block;
    width: 20px;
    height: 30px;

    &:focus-visible {
        outline-color: green;
    }
}