.nav {
    font-size: 14px;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.last {
    color: $accent;

    border: 2px double;
    border-radius: 5px;
    padding: 5px;

    &:hover {
        color: saturate($color: $accent, $amount: 100%);
    }
}