// font-family: "Roboto Slab", serif;
// font-family: "Montserrat", sans-serif;
// font-family: "Raleway", sans-serif;

// Fonts
$font-main: 'Raleway', sans-serif;
$font-accent: 'Montserrat', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$privacy: #E7E7E7;